{% extends 'base.html' %}

{% block title %}Pareto Chart{% endblock %}

{% block content %}
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <div class="group">
                <label for="complaint_type" class="label">Complaint Types (comma-separated)</label>
                {{ form.complaint_type }}
            </div>
            <div class="group">
                <label for="number_of_complaints" class="label">Number of Complaints (comma-separated)</label>
                {{ form.number_of_complaints }}
            </div>
            <div class="group">
                <input type="submit" class="button" value="Generate Chart">
            </div>
        </form>
        {% if chart %}
        <div class="chart-container">
            <img src="data:image/png;base64,{{ chart }}" alt="Pareto Chart">
        </div>
        {% endif %}
    </div>
{% endblock %}
